.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/archive/
Program/Downscaling_report.pdf
Program/check/
Data/global/
Data/BRA/
Data/IND/
Data/GBR/
Data/ARG/
Data/UZB/
Output/
*.tif
*.geojson
archive/
/Program/Downscaling_report_files/figure-latex/
Program/Downscaling_report_cache/
Documents/
Program
Output
BRA/
IND/
ETH/
UZB/
config/BRA.yml
config/ETH.yml
config/IND.yml
config/UZB.yml
R/CHOICE_D3.5.R

dev/

